.accountButton {
    font-size: 12px; 
    padding: 5px;   
    height: 22px;
    line-height: 6px    
}

.accountHeaer {
    background: #D5D8DC;    
}

.hr {
    background-color: #e0dcdc;
    height: 1px;
    border: 0;
}